#ocf-contact-form {
    label {
        display: inline-block;
        margin: 10px 0;             
        font-weight: bold;
    }
    .required {
        color: red;
    }
    input, 
    textarea {
        width: 100%;
        padding: 5px;
    }
    button[type="submit"] {
        margin-top: 20px;
    }
    .ocf-message {
        padding: 25px;
        margin-bottom: 20px;
        &.ocf-error {
            background-color: $error-bg-color;
        }
        &.ocf-success {
            background-color: $success-bg-color;
        }
        p {
            margin: 0;
        }
        ul {
            margin: 15px 0 0 20px;
        }
    }
}